<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">



  <div class="Titulo" >
    <img src="./assets/Titulo.gif" width="500px" alt="">
</div>
  <div class="videos">
    
    <video autoplay loop>
      <source src="./assets/fondo.mp4" type="video/mp4">
    </video>
  </div>

  <div class="Menu">

  </div>
 




<audio src="./assets/op.mp3" [volume]="2" autoplay="autoplay" ></audio>